<div ng-controller="HomeCtrl" class="theme-bg">
    <div class="item item-avatar">
        <img src="{{userInfo.avatar}}"/>

        <h2>{{'username' | translate}}: {{userInfo.username}}</h2>

        <p>{{'email' | translate}}: {{userInfo.email}}</p>
    </div>
    <div class="item item-icon-left item-gray">
        <i class="icon ion-star"></i>
        {{'xp' | translate}}: {{userInfo.level}}

        <progress id="progressBar" max="100" value="{{userInfo.xp}}"></progress>
    </div>

    <div class="vertical-align-center wrapper">
        <button style="margin-top: 5em" go-click="match"><i class="icon ion-play"></i> {{'play' | translate}}</button>
        <a ng-if="false" style="text-align: center;text-decoration: none"
           ng-href="http://isep.vitormota.org/ar&user={{userInfo.username}}&avatar={{userInfo.avatar}}"
           target="_blank">{{'ar' | translate}}</a>
        <button go-click="scores"><i class="icon ion-pound"></i> {{'score' | translate}}</button>
        <button go-click="rules"><i class="icon ion-ios-information-outline"></i> {{'faq' | translate}}</button>
        <button ng-click="logout()" go-click="login"><i class="icon ion-log-out"></i> {{'logout' | translate}}</button>
    </div>
</div>
