<div class="vertical-align-center">
    <a class="item item-icon-left" href="#">
        <i class="icon ion-person"></i>
        {{'username' | translate}}
    </a>

    <a class="item item-icon-left" href="#">
        <i class="icon ion-star"></i>
        {{'xp' | translate}}
    </a>

    <a class="button icon-right button-calm  button-block" ng-href="#/home">{{'play' | translate}}</a>
    <a class="button icon-right button-calm  button-block" ng-href="#/home">{{'score' | translate}}</a>
    <a class="button icon-right button-calm  button-block" ng-href="#/home">{{'faq' | translate}}</a>

</div>