<div class="login-page vertical-align-center wrapper" ng-controller="LoginCtrl">
    <form ng-submit="submitLoginRequest()">
        <input type="text" ng-model="userInfo.username" placeholder="Username" required>
        <input type="password" ng-model="userInfo.password" placeholder="Password" required>

        <p ng-if="errorLogin" class="account-invalid">{{'invalidLogin' | translate }}</p>
        <input value="{{'login' | translate}}" type="submit"/>

        <div class="row">
            <button class="col col-center" ng-click="setLanguage('pt'); $event.preventDefault()">PT</button>
            <button class="col col-center" ng-click="setLanguage('en'); $event.preventDefault()">EN</button>
        </div>
    </form>
</div>
