<div class="vertical-align-center wrapper" ng-controller="MatchCtrl">
    <div ng-if="!loading">
        <div class="item item-avatar">
            <img src="{{player1.avatar}}">

            <h2>{{player1.name}}</h2>

            <p><b>{{'xp_match' | translate}}</b>{{player1.xp}}</p>

            <p><b>{{'correctAnswers' | translate}}</b>{{player1.correctAnswers}}</p>
        </div>
        <div class="item item-avatar">
            <img src="{{player2.avatar}}">

            <h2>{{player2.name}}</h2>

            <p><b>{{'xp_match' | translate}}</b>{{player2.xp}}</p>

            <p><b>{{'correctAnswers' | translate}}</b>{{player2.correctAnswers}}</p>
        </div>
        <div class="list card" ng-if="option">
            <div class="item item-image">
                <img class="choice-img"
                     src="{{option.img}}">
            </div>
        </div>
        <div class="choices" ng-if="option">
            <button ng-repeat="op in option.options" ng-click="checkAnswer(op)">{{op | translate}}</button>
        </div>

        <div ng-if="!option">
            <h3 class="match-over">{{'matchOver' | translate}}
                <br>
                {{'elapsedTime' | translate}} {{elapsedTime}}
                <br>
                {{'yourScore' | translate}} {{player1.correctAnswers}}
            </h3>
        </div>
        <h2 class="countdown" ng-if="option" ng-class="{'count-down-red': timerLessThan10S()}">{{currentCount}}</h2>
    </div>
    <div ng-if="loading">
        <div class="vertical-align-center wrapper">
            <label class="font-loading">{{'waiting' | translate}}</label>
            <ion-spinner icon="dots"></ion-spinner>
        </div>
    </div>
</div>