<div class="wrapper">
    <div class="item item-divider rules-header">
        {{ 'rules' | translate }}
    </div>
    <div class="item item-text-wrap rules-panel">
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
    </div>
    <button style="width: 100%; margin-top: 1em" go-click="home">{{'back' | translate}}</button>
</div>