<div class="card">
    <div class="item item-divider">
        {{ 'rules' | translate }}
    </div>
    <div class="item item-text-wrap">
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
        This is a basic Card with some text.
    </div>
    <a class="button icon-right button-calm  button-block" ng-href="#/home">{{'back' | translate}}</a>
</div>