<div class="wrapper">
    <div class="list">

        <div class="item item-button-right">
            Player 1
            <button class="button button-positive">
                <i class="icon ion-person"></i>
            </button>
        </div>

        <div class="item item-button-right">
            Player 2
            <button class="button button-positive">
                <i class="icon ion-person"></i>
            </button>
        </div>

        <div class="item item-button-right">
            Player 3
            <button class="button button-positive">
                <i class="icon ion-person"></i>
            </button>
        </div>

    </div>
    <button style="width: 100%; margin-top: 1em" ng-href="#/home">{{'back' | translate}}</button>
</div>