/* Empty. Add your own CSS if you like */
.logo {
    margin-left: 50%;
    transform: translateX(-50%);
}

.vertical-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-page {
    background: #262626;
    padding: 20px;
}

.wrapper {
    background: #262626;
    padding: 24px 12px;
}

.login-page input[type=text],
.login-page input[type=password],
.login-page input[type=email],
div > form > input[type=submit] {
    color: #fff;
    background: #343434;
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border-top: 1px solid #282828;
    font-size: 1.1em;
    padding: 24px 12px;
}

button {
    border: 1px solid #323232;
    border-bottom: 1px solid #212121;
    background: #323232;
    border-radius: 6px;
    padding: 16px 6px;
    font-size: 1.1em;
    color: #fff;
    margin: 1px;
}

.rules-panel {
    color: white;
    background: #323232;
}

.rules-header {
    color: white;
    background: #343434;
}

input.ng-invalid {
    border: 2px solid #c0392b !important;
}

.spinner svg {
    width: 100%;
    height: 100%;
}

.font-loading {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
